.example-card {
  max-width: 400px;
  margin-bottom: 15px;
}

.example-header-image {
  background-size: cover;
}

.valoracion {
  text-align: center;
  font-size: 3rem;
}

.positivo {
  color: green;
}

.negativo {
  color: red;
}
