<mat-card class="example-card">
  <mat-card-header>
    <div
      [style.background-image]="
        'url(' + (post.usuario.avatar | imagen: post.usuario._id:'avatar') + ')'
      "
      mat-card-avatar
      class="example-header-image"
    ></div>
    <mat-card-title>{{ post.titulo }}</mat-card-title>
    <mat-card-subtitle
      >{{ post.usuario.nombre }} en {{ post.categoria }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="post.imagen | imagen: post.usuario._id:'post'" />
  <mat-card-content>
    <p>
      {{ post.contenido }}
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-button
      class="boton"
      [ngClass]="{
        'positivo active': post.likedBy.includes(usuario._id)
      }"
      (click)="likePost(post._id)"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    <p
      class="valoracion"
      [ngClass]="{
        positivo: post.likes - post.dislikes > 0,
        negativo: post.likes - post.dislikes < 0
      }"
    >
      <span *ngIf="post.likes - post.dislikes > 0">+</span
      >{{ post.likes - post.dislikes }}
    </p>
    <button
      mat-button
      class="boton"
      [ngClass]="{
        'negativo active': post.dislikedBy.includes(usuario._id)
      }"
      (click)="dislikePost(post._id)"
    >
      <mat-icon>thumb_down</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
