<mat-card class="card">
  <mat-card-header>
    <div
      [style.background-image]="
        'url(' + (post.usuario.avatar | imagen: post.usuario._id:'avatar') + ')'
      "
      mat-card-avatar
      class="header-image cursor"
      [routerLink]="['/perfil', post.usuario._id]"
    ></div>
    <mat-card-title>{{ post.titulo }}</mat-card-title>
    <mat-card-subtitle
      ><span [routerLink]="['/perfil', post.usuario._id]" class="cursor">{{
        post.usuario.nombre
      }}</span>
      en {{ post.categoria }}</mat-card-subtitle
    >
    <div
      class="opciones"
      *ngIf="usuario._id === post.usuario._id || usuario.role === 'ADMIN_ROLE'"
    >
      <button
        mat-mini-fab
        color="primary"
        [routerLink]="['/post', post._id, 'opciones']"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img
    mat-card-image
    [src]="post.imagen | imagen: post.usuario._id:'post'"
    [routerLink]="['/post', post._id]"
    [ngClass]="url.includes('post') ? '' : 'cursor'"
  />
  <mat-card-content>
    <p>
      {{ post.contenido }}
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-button
      class="boton"
      [ngClass]="{
        'positivo active': post.likedBy.includes(usuario._id)
      }"
      (click)="likePost(post._id)"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    <p
      class="valoracion"
      [ngClass]="{
        positivo: post.likes - post.dislikes > 0,
        negativo: post.likes - post.dislikes < 0
      }"
    >
      <span *ngIf="post.likes - post.dislikes > 0">+</span
      >{{ post.likes - post.dislikes }}
    </p>
    <button
      mat-button
      class="boton"
      [ngClass]="{
        'negativo active': post.dislikedBy.includes(usuario._id)
      }"
      (click)="dislikePost(post._id)"
    >
      <mat-icon>thumb_down</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
