<main class="container">
  <form autocomplete="off" class="form">
    <div class="perfil">
      <h1>Perfil de usuario</h1>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <button class="ancho pad" mat-raised-button mat-button color="primary">
        Guardar cambios
      </button>
    </div>
  </form>
  <form autocomplete="off" class="form">
    <div class="perfil avatar">
      <h1>Avatar</h1>
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
        class="imagen"
      />
      <input type="file" id="file" />
      <label for="file" class="fileBtn">Seleccioná una imagen</label>
      <button class="ancho pad" mat-raised-button mat-button color="primary">
        Cambiar imagen
      </button>
    </div>
  </form>
</main>
