.header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-size: cover;
  cursor: pointer;
}

.navigation-items {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navigation-item {
  padding-left: 15px;
}

/* .navigation-item:last-child {
  padding-right: 15px;
} */

.link {
  text-decoration: none;
  color: #fff;
}

#link {
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .menu {
    display: block;
  }

  .nav {
    display: none;
  }
}
