<mat-toolbar color="primary" class="header">
  <button
    mat-icon-button
    class="menu"
    aria-label="Menu"
    (click)="onToggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" class="link">Postinger!</a>
  <span class="example-spacer"></span>
  <div class="nav">
    <ul class="navigation-items">
      <li class="navigation-item" *ngIf="usuario.role === 'ADMIN_ROLE'">
        <button mat-flat-button color="accent" [matMenuTriggerFor]="admin">
          Admin
        </button>
        <mat-menu #admin="matMenu">
          <a [routerLink]="['/admin', 'usuarios']" id="link">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Usuarios</span>
            </button>
          </a>
          <a [routerLink]="['/admin', 'posts']" id="link">
            <button mat-menu-item>
              <mat-icon>image</mat-icon>
              <span>Posts</span>
            </button>
          </a>
        </mat-menu>
      </li>
      <li class="navigation-item">
        <button
          routerLink="/crear"
          mat-icon-button
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>add</mat-icon>
        </button>
      </li>
      <li class="navigation-item">
        <a [routerLink]="['/perfil', usuario._id]" class="link">{{
          usuario.nombre
        }}</a>
      </li>
      <li class="navigation-item">
        <mat-card style="display: none"></mat-card>
        <div
          [style.background-image]="
            'url(' + (usuario.avatar | imagen: usuario._id:'avatar') + ')'
          "
          mat-card-avatar
          [matMenuTriggerFor]="menu"
          class="example-header-image"
        ></div>
        <mat-menu #menu="matMenu">
          <a [routerLink]="['/perfil', usuario._id]" id="link">
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>Mi perfil</span>
            </button>
          </a>
          <a [routerLink]="['/perfil', usuario._id, 'opciones']" id="link">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Opciones</span>
            </button>
          </a>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
