<mat-card class="example-card">
  <h2 class="titulo">Categorías</h2>
  <mat-card-content class="content">
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Todas')"
    >
      Todas
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Humor')"
    >
      Humor
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Deportes')"
    >
      Deportes
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Info')"
    >
      Info
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Ciencia y educación')"
    >
      Ciencia y educación
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Entretenimiento')"
    >
      Entretenimiento
    </button>
    <button
      class="btn"
      mat-raised-button
      mat-button
      color="primary"
      (click)="enviarCategoria('Offtopic')"
    >
      Offtopic
    </button>
  </mat-card-content>
</mat-card>
