<mat-card class="example-card">
  <h2 class="titulo">Categorías</h2>
  <mat-card-content class="content">
    <button class="btn" mat-raised-button mat-button color="primary">
      Todas
    </button>
    <button class="btn" mat-raised-button mat-button color="primary">
      Humor
    </button>
    <button class="btn" mat-raised-button mat-button color="primary">
      Deportes
    </button>
    <button class="btn" mat-raised-button mat-button color="primary">
      Info
    </button>
    <button class="btn" mat-raised-button mat-button color="primary">
      Ciencia y educación
    </button>
    <button class="btn" mat-raised-button mat-button color="primary">
      Entretenimiento
    </button>
    <button class="btn" mat-raised-button mat-button color="primary">
      Offtopic
    </button>
  </mat-card-content>
</mat-card>
