.container {
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  margin: 10px 0 30px 0;
  display: flex;
}

.opciones {
  width: 50%;
  margin: 0 15px;
  padding: 15px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info {
  align-self: flex-start;
}

.ancho {
  width: 100%;
}

.imagenPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen {
  width: 100%;
}

#file {
  display: none;
}

.margin {
  margin-top: 10px;
}

.marginb {
  margin-top: 15px;
}

.denied {
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.borrar {
  font-size: 4rem;
  padding: 10px 20px;
  margin-top: 20px;
  color: red;
}
