<main class="container">
  <form
    autocomplete="off"
    class="width"
    [formGroup]="createPostForm"
    (ngSubmit)="crearPost()"
  >
    <div class="create">
      <h1>Crear post</h1>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" />
      </mat-form-field>
      <input type="file" id="file" (change)="subirImagen($event)" />
      <label for="file" class="fileBtn">Seleccioná una imagen</label>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Contenido</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="20"
          [rows]="10"
          formControlName="contenido"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ancho">
        <mat-label>Categoría</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          name="categoria"
          formControlName="categoria"
        >
          <mat-option
            *ngFor="let categoria of categorias"
            [value]="categoria.value"
          >
            {{ categoria.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="ancho" mat-raised-button mat-button color="primary">
        Crear
      </button>
    </div>
  </form>
  <div class="create avatar width">
    <h1>Vista previa de la imagen</h1>
    <img
      *ngIf="imagenTemp"
      [src]="imagenTemp | imagen: usuario._id:'temp'"
      class="imagen"
    />
  </div>
</main>
