<main class="container">
  <form
    autocomplete="off"
    class="width"
    [formGroup]="createPostForm"
    (ngSubmit)="crearPost()"
  >
    <div class="create">
      <h1>Crear post</h1>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" />
        <mat-error *ngIf="campoNoValido('titulo')">{{
          getMensajeError("titulo")
        }}</mat-error>
      </mat-form-field>
      <button
        type="button"
        class="ancho marginb"
        mat-raised-button
        mat-button
        color="primary"
        (click)="input.click()"
      >
        Seleccioná una imagen
      </button>
      <input type="file" id="file" (change)="subirImagen($event)" #input />
      <mat-form-field class="ancho margin" appearance="outline">
        <mat-label>Contenido</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="20"
          formControlName="contenido"
        ></textarea>
        <mat-error *ngIf="campoNoValido('contenido')">{{
          getMensajeError("contenido")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ancho margin">
        <mat-label>Categoría</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          name="categoria"
          formControlName="categoria"
        >
          <mat-option
            *ngFor="let categoria of categorias"
            [value]="categoria.value"
          >
            {{ categoria.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="campoNoValido('categoria')">{{
          getMensajeError("categoria")
        }}</mat-error>
      </mat-form-field>
      <button class="ancho margin" mat-raised-button mat-button color="primary">
        Crear
      </button>
    </div>
  </form>
  <div class="create avatar width">
    <h1>Vista previa de la imagen</h1>
    <img
      *ngIf="imagenTemp"
      [src]="imagenTemp | imagen: usuario._id:'temp':'post'"
      class="imagen"
    />
  </div>
</main>
