.container {
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  margin: 10px 0 30px 0;
  display: flex;
}

.create {
  width: 50%;
  margin: 0 15px;
  padding: 15px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.start {
  align-self: flex-start;
}

.ancho {
  width: 100%;
}

.margin {
  margin-top: 10px;
}

.marginb {
  margin-top: 15px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.imagen {
  width: 100%;
}

.preview {
  font-weight: 400;
  align-self: center;
}

#file {
  display: none;
}
