.titulo {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  margin-top: 21px;
}

.container {
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}

.flex {
  display: flex;
  margin-top: 21px;
}

.categorias {
  flex: 1;
  margin: 0 5px 5px 5px;
  width: 338px;
}

.example-loading-shade {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-posts {
  width: 100%;
}

.para {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
}
