<h1 class="titulo">¡Bienvenido, {{ usuario.nombre }}! 😄</h1>
<main class="container">
  <mat-divider></mat-divider>
  <div class="example-loading-shade" *ngIf="cargando">
    <mat-spinner *ngIf="cargando"></mat-spinner>
  </div>
  <div class="flex" *ngIf="!cargando">
    <section *ngIf="posts" class="posts">
      <app-post *ngFor="let post of postsFilter" [post]="post"></app-post>
      <div
        *ngIf="posts.length === 0 || postsFilter.length === 0"
        class="no-posts"
      >
        <p class="para">No hay posts para mostrar.</p>
      </div>
    </section>
    <section class="categorias" *ngIf="posts.length !== 0">
      <app-categorias (categoria)="recibirCategoria($event)"></app-categorias>
    </section>
  </div>
</main>
