<h1 class="titulo">¡Bienvenido, {{ usuario.nombre }}! 😄</h1>
<main class="container">
  <mat-divider></mat-divider>
  <div class="example-loading-shade" *ngIf="cargando">
    <mat-spinner *ngIf="cargando"></mat-spinner>
  </div>
  <div class="flex" *ngIf="!cargando">
    <section *ngIf="postsFilter" class="posts">
      <app-post *ngFor="let post of postsFilter" [post]="post"></app-post>
    </section>
    <section *ngIf="postsFilter.length === 0">
      <p>No hay posts para mostrar.</p>
    </section>
    <section class="categorias">
      <app-categorias (categoria)="recibirCategoria($event)"></app-categorias>
    </section>
  </div>
</main>
