<main class="container" *ngIf="cargando">
  <div class="example-loading-shade" *ngIf="cargando">
    <mat-spinner *ngIf="cargando"></mat-spinner>
  </div>
</main>
<main class="container" *ngIf="usuarioPerfil && !cargando">
  <form
    autocomplete="off"
    class="form"
    [formGroup]="opcionesForm"
    (ngSubmit)="actualizarUsuario()"
    *ngIf="userId === usuario._id || usuario.role === 'ADMIN_ROLE'"
  >
    <div class="opciones info">
      <h1>Información de usuario</h1>
      <mat-form-field class="ancho margin" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="campoNoValido('nombre')">{{
          getMensajeError("nombre")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="ancho margin" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="campoNoValido('email')">{{
          getMensajeError("email")
        }}</mat-error>
      </mat-form-field>
      <button
        type="button"
        mat-button
        class="contra margin"
        (click)="abrirDialog()"
        *ngIf="userId === usuario._id"
      >
        Cambiar contraseña
      </button>
      <button class="ancho pad" mat-raised-button mat-button color="primary">
        Guardar cambios
      </button>
    </div>
    <div class="opciones avatar">
      <h1>Avatar</h1>
      <img
        *ngIf="!imagenTemp"
        [src]="usuarioPerfil.avatar | imagen: usuarioPerfil._id:'avatar'"
        class="imagen"
      />
      <img
        *ngIf="imagenTemp"
        [src]="imagenTemp | imagen: usuarioPerfil._id:'temp':'avatar'"
        class="imagen"
      />
      <button
        type="button"
        class="ancho marginb"
        mat-raised-button
        mat-button
        color="primary"
        (click)="input.click()"
      >
        Seleccioná una imagen
      </button>
      <input type="file" id="file" (change)="subirImagen($event)" #input />
    </div>
  </form>
  <h2
    class="denied"
    *ngIf="userId !== usuario._id && usuario.role !== 'ADMIN_ROLE'"
  >
    Acceso Denegado
  </h2>
</main>
